/* STANDARD POPUP */
#popup {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background: rgba(235, 235, 235, 0.65);
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#project_popup {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
  background-color: white;
}

.popup-header {
  background: #a100ff;

  padding: 1rem;
  color: white;
  font-size: 26px;
  display: grid;
  opacity: 1;
  grid-template-columns: 1fr auto;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
}

.popup-header > img {
  cursor: pointer;
}

.popup-content {
  align-self: center;
  justify-self: center;
  border-radius: 0 0 5px 5px;
  box-shadow: solid 2px #000000;
  display: grid;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 1.5rem;
}
/* WARNING POPUP */

#div_x {
  grid-row: 1 / 1;
  margin-left: 91%;
  padding-top: 0.3rem;
}

#btn_x {
  border: 0px;
  background: none;
}

#err_type {
  letter-spacing: -0.04em;
  font-weight: 700;
  font-size: 28px;
  grid-row: 2 / 3;
  font-style: normal;
}

#text {
  grid-row: 3 / 5;
}

#div_close {
  margin-top: 1.1rem;
  grid-row: 5 / 7;
  justify-content: end;
  align-items: center;
  display: grid;

  color: white;
}

#btn_delete {
  font-size: 13px;
  font-weight: 600;
  padding:.5rem 1.5rem;
  color: white;
  border: 0px;
}

#btn_x:hover {
  cursor: pointer;
}
.warning-popup {
  letter-spacing: -0.04em;
  padding: .5rem 1rem ;
  border-radius: 5px;
  box-shadow: 0 0 2px #000000;
  background: #ffffff;
  width: 318px;
  height: 174px;
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-rows: auto auto;
  border: 1px solid black;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.3);
}
