@import url("../utils/header.css");

body, html{
    width: 100%;
    min-height: 100%;
    margin: 0px;
}


#top{
    display: grid;
    grid-template-columns: repeat(22, auto);
    padding-bottom: 2rem;
}

#btn_back{
    display: grid;
    grid-column: 1 / 1;
    align-content: center;
    margin-left: 1rem;
    margin-top: 1rem;

    width: 120px;
    height: 40px;   
    background: #FFFFFF;
    border: 1px solid rgba(161, 0, 255, 0.95);
    border-radius: 999px;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #A100FF;
    vertical-align: middle;
}

#btn_back:active{
    background: #a100ff;
    color: white;
}

#top_text{
    display: grid;
    grid-column: 2 / 23;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #BE82FF;
}

#mid{
    position: absolute;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-self: center;
    width: 90%;
    min-height: 25%;
    max-height: 90%;
    margin-left: 5%;
    justify-items: center;
    align-content: center;
}

#container{
    box-sizing: border-box;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    justify-items: center;
    align-content: center;
    overflow-y: auto;

    border: 1px solid #000000;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.btn_container button{
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    background-color: transparent;
    width: 7rem;
    height: 2rem;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    border-bottom: none;
}

#div_tabla{
    display: grid;
    grid-column: 1 / 1;
    grid-template-rows: repeat(12, auto);
    height: 95%;
    align-content: center;
    justify-self: center;
    margin-top: 1rem;
}

table{
    border-collapse: collapse;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.first{
    border-top: 1.5px solid black;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

.middle{
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

.last{
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

.table_header{
    background-color: #A100FF;
    color: white;
    font-family: 'Graphik';
    font-size: 16px;
}

.table_data{
    background-color: white;
    text-align: center;
}

th{
    width: 98px;
}

td button{
    border: none;
    background: transparent;
    cursor: pointer;
}

#btn_add{
    display: grid;
    grid-row: 2 / 2;
    margin-top: 1rem;
    height: 3.5rem;
    width: 70%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   
}

#btn_add button{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    border: none; 
    background: transparent;

    color: #A100FF;
    text-align: center;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

#btn_add button img{
    padding-top: 0.22rem;
}

#btn_add_cfg:active{
    background: #f5f5f5;
    border-radius: 20px;
}

footer{
    display: grid;
    grid-template-rows: repeat(13, 1fr);
}

#bottom{
    display: grid;
    grid-row: 13 / 13;

    justify-content: end;
}

#btn_save{
    position: relative;
    display: grid;
    grid-column: 1 / 1;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    background: #a100ff;
    border: none;
    border-radius: 999px;
    margin-right: 2rem;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: white;
    vertical-align: middle;
}

#btn_save:active{
    background: #460073;
}

#btn_view_result{
    display: grid;
    grid-column: 2 / 2;
    grid-template-columns: repeat(2, auto);
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 32px;
    background: transparent;
    border: none;
    border-radius: 999px;
    margin-right: 2rem;
    cursor: pointer;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #A100FF;
    vertical-align: middle;
}

#btn_view_result:active{
    background: #dfdfdf;
}

#bottom #btn_view_results #btn_view_results_text{
    display: grid;
    grid-column: 1 / 1;
}

#bottom #btn_view_results img{
    display: grid;
    grid-column: 2 / 2;
}

button:hover{
    cursor: pointer;
}

#popup{
    display: grid;
    grid-template-rows: repeat(1, auto);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: rgba(235, 235, 235, 0.65);
    z-index: 1;
    visibility: hidden;
}

#btn_selector{
    display: grid;
    grid-row: 2 / 2;
    height: 459px;
    background: white;
    overflow-y: hidden;
}

#popup_btn_container{
    display: grid;
    justify-self: center;
    align-self: center;
    min-height: 200px;
}

.selection_btn{
    margin-top: 1rem;
    height: 3.5rem;
    width: 500px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    color: #A100FF;
    text-align: center;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.selection_btn:active{
    background: #f5f5f5;
}

#popup_content{
    display: grid;
    grid-template-rows: repeat(2, auto);
    border: 1px solid black;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    overflow: auto;
    width: 850px;
    height: 550px;
}

#popup_top{
    display: grid;
    grid-row: 1 / 1;
    grid-template-columns: repeat(2, auto);
    height: 90px;
    background: linear-gradient(180deg, rgba(250, 4, 255) 0%, #AE01FF 100%);
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.3);

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}

#popup_top_text{
    display: grid;
    grid-column: 1 / 1;
    padding-left: 1rem;
    align-self: center;
}

#popup_top_cross{
    display: grid;
    grid-column: 2 / 2;
    justify-self: end;
    align-self: top;
    padding-right: 1.5rem;
}

#popup_top_cross button{
    border: none;
    background: transparent;
}

#form{
    display: grid;
    grid-row: 2 / 2;
    background: white;
    overflow-y: auto;

    grid-template-rows: repeat(13, 1fr);
}

.question{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.q_text{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #000000;
}

.q_input{
    box-sizing: border-box;
    border: 1.5px solid #B3B2B5;
    justify-self: end;
    height: 25px;
    width: 200px;
    border-radius: 185px;
}

.question .q_input input{
    border: none;
    height: 20px;
    width: 194px;
    border-radius: 185px;
    text-align: center;
}

.question .q_input input:disabled{
    border-radius: 10px;
    background-color: #9fa19d;
    border: 1px solid #9fa19d;
}

#combo_premise2:disabled{
    border-radius: 10px;
    height: 24px;
    width: 197px;
    background-color: #9fa19d;
    border: 1px solid #9fa19d;
}

#question_group .q_input input[type="text"]{
    border: none;
    height: 20px;
    width: 194px;
    border-radius: 185px;
    text-align: center;
}

#question_group .q_input input[type="text"]:disabled{
    border-radius: 10px;
    background-color: #9fa19d;
    border: 1px solid #9fa19d;
}



.error{
    box-shadow: 0 0 3px #ff0000;
}

.q_input select{
    border: none;
    height: 22px;
    width: 197px;
    border-radius: 185px;
    text-align: center;
}

#premise_question8{
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}


#premise_question8 .q_input{
    height: 125px;
    width: 500px;
    justify-self: start;
    border-radius: 10px;
    margin-left: 1rem;
}

#premise_question8 .q_input input{
    margin-top: 1.2rem;
    margin-left: 1rem;
}

#submit_cancel{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: end;
    margin-top: 3rem;
}

.sbmt_save{
    display: grid;
    justify-self: end;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    background: #a100ff;
    border: none;
    border-radius: 999px;
    margin-right: 1rem;
    margin-bottom: 1rem;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: white;
    vertical-align: middle;
}

.sbmt_save:active{
    background: #460073;
}

.sbmt_cancel{
    display: grid;
    justify-self: end;
    align-self: center;
    align-content: center;
    margin-right: 1rem;
    margin-bottom: 1rem;

    width: 100px;
    height: 32px;  
    background: #FFFFFF;
    letter-spacing: -0.02em;
    border: 1px solid #a100ff;
    border-radius: 999px;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
}

.sbmt_cancel:active{
    background: #a100ff;
    color: white;
}

#question_group{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}