@import url("../utils/header_prueba.css");

/* Fuentes */
@font-face {
    font-family: "GraphikRegular";
    src: url("../../fonts/Graphik-Regular-Web.woff2") format("woff2");

    font-family: "GraphikBold";
    src: url("../../fonts/Graphik-Bold-Web.woff2") format("woff2");
}

body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
}

body .content-wrapper{
    height: 89%;
    margin: 0px;
    background-image: url("../../imgs/gradient.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 91%;
}

#main{
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    margin-top: 5rem
}

#name{
    grid-row: 1 / 4;
    align-self: center;
    justify-self: center;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #FFFFFF;

    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#slogan{
    grid-row: 4 / 6;
    align-self: center;
    justify-self: center;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;

    mix-blend-mode: normal;
}

#getstarted{
    grid-row: 8 / 10;
    align-self: center;
    justify-self: center;
}

#btn_get_started{
    width: 216px;
    height: 50px;

    /* BUTTON */
    background: #FFFFFF;
    border: none;
    border-radius: 999px;   

    /* TEXT */
    vertical-align: middle;
    font-family: 'GraphikBold';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
    color: #A100FF;
}

#btn_get_started:hover{
    border: 2px solid #ffffff;
    background: none;
    cursor: pointer;
    color: #ffffff;
    
}

#about_us{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

#title_aus{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;

    margin-left: 2rem;
}

#description{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;

    margin-left: 2rem;
}

#popup{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: rgba(235, 235, 235, 0.65);  
    visibility: hidden;
}

#popup_content{
    grid-column: 1 / 1;
    align-self: center;
    justify-self: center;
    width: 350px;
    height: 190px;
    border-radius: 5px;
    box-shadow: 0 0 2px #000000;

    display: grid;
    grid-template-rows: repeat(7, 1fr);
    background: #ffffff;
}

#div_x{
    grid-row: 1 / 1;
    margin-left: 91%;
    margin-bottom: 5%;
    padding-top: 0.3rem;
}

#btn_x{
    border: 0px;
    background: none;
}

#err_type{
    grid-row: 2 / 3;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    mix-blend-mode: normal;
    align-self: stretch;
    padding-left: 1rem;
}

#text{
    grid-row: 3 / 5;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #3B3944;
    align-self: stretch;
    padding-left: 1rem;

}

#bolded{
    font-family: 'GraphikBold';
}

#div_close{
    grid-row: 5 / 7;
    margin-top: 5%;
    margin-left: 70%;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: #A100FF;
    border-radius: 999px;
}

#btn_close{
    width: 80px;
    height: 30px;
    background: none;
    border: 0px;

    /* TEXT */
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

#btn_close:hover,
#btn_x:hover{
    cursor: pointer;    
}

#btn_home{
    margin-top: 1.5rem;
}

#btn_home>img{
    width: 100%;
    margin-top: 1rem;
}