@import url("../utils/header.css");
@import url("../utils/popup.css");

body {
  padding: 0;
  margin: 0;
  font-family: Graphik;
}

.dev-nav {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  background-color: #a100ff;
}

.grid-container {
  margin: 15px auto;
  grid-template-columns: 1fr auto auto auto;
  grid-template-rows: 10vh;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: end;
  grid-auto-flow: column;
  gap: 0.5em;
  width: 90%;
}

.item1 {
  text-align: left;
  grid-row-start: 1;
  font-size: 3em;
  font-weight: bold;
  color: #be82ff;
}

.item1 > p {
  margin: 0;
  height: 100%;
}

.item2 {
  grid-row-start: 1;
  text-align: center;
  padding: 4px;
}

.item2 > select {
  border-radius: 50px;
  padding: 5px;
}

.item3 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2px;
  text-align: center;
  border: 1px solid black;
  padding: 4px;
  align-items: center;
  justify-items: center;
}

.item3 > input {
  border: 1px solid transparent;
  border-bottom: 1px solid #ababab;
  transition: 0.15s ease;
}

.item3 > input:focus {
  outline: 0;
  transition: 0.15s ease;
  border-bottom: 1px solid black;
}

.item3 > button {
  float: right;
  background: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.add-buttons {
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  gap: 0.5em;
  width: 85%;
}

.add-project-button-np {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  color: #a100ff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;

  grid-column: 1 / span 2;
  grid-row: 1/2;

  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1.5em auto;
  padding: 1em;
}

.add-project-button {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  color: #a100ff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;

  grid-column: 1/2;
  grid-row: 1/2;

  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1.5em auto;
  padding: 1em;
}

.add-version-button {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  color: #a100ff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;

  grid-column: 2/3;
  grid-row: 1/2;

  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1.5em auto;
  padding: 1em;
}

.add-project-button:hover,
.add-version-button:hover,
.add-project-button-np:hover {
  cursor: pointer;
  background: #fafafa;
  outline: 1px black solid;
}

.add-project-button:disabled,
.add-version-button:disabled {
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: auto;
  outline: 0;
}

.add-project-button:active,
.add-version-button:active,
.add-project-button-np:active {
  background: white;
}

.disabled:hover {
  background-color: white;
  filter: grayscale(100%);
  outline: 0;
}

#projects-field {
  margin: 20px auto 20px auto;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: .5rem;
  padding: 10px;
  width: 80%;
}

.projects-field > p {
  text-align: center;
  justify-content: center;
  margin: 0;
}

.no-projects {
  text-align: center;
  justify-content: center;
}

.no-projects1 {
  font-size: 2.75em;
  font-weight: bold;
  color: #be82ff;
  text-transform: uppercase;
}

.no-projects2 {
  grid-row-start: 2;
  font-size: 1.5em;
  color: #b3b2b5;
}

.project-field-item {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
}

.project-card {
  border: 1px black solid;
  border-radius: 25px;

  background-color: white;
  grid-template-columns: 1fr;

  display: grid;
  align-items: start;

  transition: 400ms;
  overflow: hidden;
}

.button-purple-bg {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border: 0;
  background: #a100ff;
  border: 2px solid #a100ff;
  border-radius: 999px;
  color: white;
}

.button-purple-bg:hover {
  border: 2px solid #7500c0;
  background-color: #7500c0;
}

.button-purple-bg:focus {
  border: 2px solid #0041f0;
}

.button-white-bg {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 5px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #a100ff;
  background: white;
  border-radius: 999px;
}

.button-white-bg:hover {
  color: white;
  background-color: #7500c0;
}

.button-white-bg:focus {
  border: 2px solid #0041f0;
}

.hidden {
  display: none;
  height: 0;
  opacity: 0;
}

.card-click {
  cursor: pointer;
}

.project-card-preview {
  background-color: white;
  padding: 15px;
  grid-template-columns: 1fr auto auto auto;
  display: grid;
  align-items: center;
  justify-items: stretch;
  cursor: pointer;
}

.project-card-details {
  display: grid;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
  gap: 4px;
  grid-template-columns: auto auto;
  border-top: #ababab 1px solid;
  align-items: end;
}

.project-card-details-summary {
    padding: 5px;
    padding-left: 15px;

}
.project-card-details-buttons {
  grid-template-columns: auto auto;
  display: grid;
  align-items: end;
  justify-content: end;
}
.project-card-details-button {
    padding: 0;
    background-color: white;
    border: 0;
    margin: 1px;
  }
  
.project-card-details-button > img {
  border-radius: 50%;
  transition: 0.1s ease;
}

.project-card-details-button > img:hover {
  outline: 1px #a100ff ridge;
  margin-bottom: 4px;
  transition: 0.3s ease;
}

.project-card-details > p {
  padding: 0;
  margin: 0;
}

.details-delete-button {
  float: right;
  right: 0px;
}

.project-card-text {
  display: grid;
  justify-items: start;
}

.project-card-arrow {
  transition: 200ms;
}

.arrow {
  rotate: 180deg;
  transition: 200ms;
  padding-top: 0;
}

.project-card:hover {
  background-color: #fff;
  outline: 1px black solid;
}

.project-card-text > p {
  padding: 2px;
  margin: 0;
}

.project-card .p1 {
  font-size: 1.5em;
  font-weight: bold;
}

.project-card .p2 {
  font-size: 1.25em;
  font-weight: 500;
}

.project-card .p3 {
  font-size: 1em;
}

.popup-content-top {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  column-gap: 2rem;
}

.popup-content-mid {
  margin-top: 2rem;
  display: grid;
}

#description {
  resize: none;
}

.popup-content-bot {
  margin-top: 1rem;
  display: grid;
  justify-content: end;
  grid-template-columns: auto auto;
}
.popup-content-bot > button,
.popup-content-bot > input {
  padding: 5px 10px;
  font-size: 16px;
}
