@import url("../utils/header_prueba.css");
/*.header{
    display: grid;
    height: 71px;
    grid-template-columns: repeat(22, 1fr);
    background-image: url("../../imgs/header_bg.png");
}*/
#body{
    margin: 0px;
}
#menu{
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-column: 1 / 25;
}
#logo{
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
}

#separator{
    grid-column: 3 / 4;
    align-self: center;
    justify-self: center;

}

#title{
    grid-column: 4 / 9;
    align-self: center;
    justify-self: center;

    font-family: 'GraphikRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
}
#btn_home{
    grid-column: 15 / 17;
    align-self: center;
    justify-self: center;

    font-family: 'GraphikRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

#btn_projects{
    grid-column: 17 / 19;
    align-self: center;
    justify-self: center;

    font-family: 'GraphikRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

#btn_calculator{
    grid-column: 19 / 21;
    align-self: center;
    justify-self: center;

    font-family: 'GraphikRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

#btn_results{
    grid-column: 21 / 23;
    align-self: center;
    justify-self: center;

    font-family: 'GraphikRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}
/*#main{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    margin-top: 2rem;
}*/

#text_button{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2rem;
    align-items: center;
    justify-content: start;
    /*justify-content: center;
    justify-content: left;*/
}
/*#back{
    display: grid;
    grid-template-columns: auto auto;
}*/
#texto_results{
    color: #BE82FF;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    font-size: 30px;
    margin-left: 1rem;
}
#btn_back{
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #A100FF;
    border-radius: 999px;
    color: #A100FF;
    text-align: center;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
}
#download{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    
}
#btn_download{
    background: linear-gradient(180deg, #A100FF 0%, rgba(161, 0, 255, 0.95) 0.01%, rgba(161, 0, 255, 0.65) 100%);
    border-radius: 999px;
    width: 147px;
    height: 48px;
}
#text_download{
    color: white;
    display: grid;
    justify-content: start;
    padding-left: 10px;
}
#didyouknow{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    margin-top: 100px;
}

#title_know{
    font-family: 'GraphikRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    margin-left: 2rem;
    color:#BE82FF;
}
#description{
    font-family: 'GraphikRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    margin-left: 2rem;
}
/*table{
    border-spacing: 0;
    text-align: left;
    border: solid #ccc 3px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   
}*/
.position_tables{
    display: grid;
    grid-template-columns: repeat(10,auto);
    justify-content:space-evenly;
    margin-left: 2rem;
    
}
#tabla1{
    grid-column: 1/5;
    border-spacing: 0;
    text-align: left;
    border: solid #ccc 3px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#tabla2{
    grid-column: 6/10;
    border-spacing: 0;
    text-align: left;
    border: solid #ccc 3px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#th1{
    background: #A100FF;
    border-radius: 10px 50px 0px 0px;
    margin-left: 5px;
    color: white;
}
#tr2{
    display: grid;
    grid-template-columns: repeat(4,auto);
}
#cloud{
    margin-left: 22px;
    grid-column: 1/2;
}
#premise{
    display: grid;
    justify-content: end;
    margin-right: 51px;
    grid-column: 2/4;
}
#tr4{
    display: grid;
    grid-template-columns: repeat(4,auto);
    
}
#tr5{
    margin-left: 8px;
}
#datos{
    margin-left: 8px;
}
#position_lista{
    display: grid;
    grid-template-columns: auto auto;
}    
#carbon_foot{
    text-align:center;
    background: linear-gradient(180deg, #A100FF 0%, rgba(161, 0, 255, 0.95) 0.01%, rgba(161, 0, 255, 0.65) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
}
#sinborde_titulo1{
    grid-column: 1/2;
    margin-left: 8px;
}
#th2{
    display: grid;
    justify-content: center;
    grid-column: 4/8;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#sinborde_titulo2{
    grid-column: 1/2;
    margin-left: 8px;
}
#separador_derecha{
    display: grid;
    text-align: center;
}