@import url("../utils/header.css");

body{
    margin: 0;
    padding: 0;
    
}
#download{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    margin-right: 11rem;
    margin-top: 1rem;
}

#btn_download{
    position: relative;
    display: grid;
    grid-column: 1 / 1;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    background: #a100ff;
    border: none;
    border-radius: 999px;
    margin-right: 2rem;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: white;
    vertical-align: middle;
}

#btn_download:active{
    background: #460073;
}
#didyouknow{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    margin-top: 100px;
}

#title_know{
    font-family: 'GraphikRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    margin-left: 2rem;
    color:#BE82FF;
}
#description{
    font-family: 'GraphikRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    margin-left: 2rem;
}
.position_tables{
    display: grid;
    grid-template-columns: repeat(10,auto);
    justify-content:space-evenly;
    margin-left: 2rem;
    
}
#tabla1{
    grid-column: 1/5;
    border-spacing: 0;
    text-align: left;
    border: solid #ccc 3px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#tabla2{
    grid-column: 6/10;
    border-spacing: 0;
    text-align: left;
    border: solid #ccc 3px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#th1{
    font-size: 32px;
    background: #A100FF;
    border-radius: 17px 17px 0px 0px;
    color: white;
}
#letra_serversoft{
    margin-left: 5px;
}

#tr2{
    display: grid;
    grid-template-columns: repeat(4,auto);
}
#cloud{
    margin-top: 10px;
    margin-left: 22px;
    grid-column: 1/2;
    font-family: 'Graphik';
    font-style: normal;
    font-size: 20px;
    font-weight: bolder;
}
#premise{
    display: grid;
    justify-content: end;
    margin-top: 10px;
    margin-right: 51px;
    grid-column: 2/4;
    font-family: 'Graphik';
    font-style: normal;
    font-size: 20px;
    font-weight: bolder;
}
#tr4{
    display: grid;
    justify-content: center;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: black;
}
#tr5{
    display: grid;
    justify-content: center;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: black;
}
#datos{
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
}
#position_lista{
    display: grid;
    grid-template-columns: auto auto;
}    
#carbon_foot{
    text-align:center;
    background: linear-gradient(180deg, #A100FF 0%, rgba(161, 0, 255, 0.95) 0.01%, rgba(161, 0, 255, 0.65) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Graphik';
    font-style: normal;
    font-size: 24px;
    color: white;
}
#sinborde_titulo1{
    grid-column: 1/2;
    margin-left: 8px;
}
#sombra{
    display: grid;
    grid-template-columns: repeat(5,auto);
    
}
#th2{
    display: grid;
    grid-column: 2/5;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px #A100FF;
    border-radius: 20px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    
}
#texto_sombra{
    background: linear-gradient(180deg, #A100FF 0%, rgba(161, 0, 255, 0.95) 0.01%, rgba(161, 0, 255, 0.65) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#texto_energy{
    display: grid;
    justify-content: center;
}
#sinborde_titulo2{
    grid-column: 1/2;
    margin-left: 8px;
}
#separador_derecha{
    display: grid;
    text-align: center;
}
#top{
    display: grid;
    grid-template-columns: repeat(22, auto);
    padding-bottom: 2rem;
}
#btn_back{
    display: grid;
    grid-column: 1 / 1;
    align-content: center;
    margin-left: 1rem;
    margin-top: 1rem;

    width: 120px;
    height: 40px;   
    background: #FFFFFF;
    border: 1px solid rgba(161, 0, 255, 0.95);
    border-radius: 999px;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #A100FF;
    vertical-align: middle;
}

#btn_back:active{
    background: #a100ff;
    color: white;
}
#top_text{
    display: grid;
    grid-column: 2 / 23;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #BE82FF;
}
#tr7{
    display: grid;
    height: 50px;
    grid-template-columns: repeat(10,auto);
}
#barra_medio{
    position: grid;
    justify-content: center;
    align-items: center;
    grid-column: 6/7;
    grid-row: 2;
    width: 45px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: rotate(-90deg);
    margin-top: 25px;
    margin-bottom: 20px;
}
#texto_izquierda{
    display: grid;
    grid-column: 3/4;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: black;
}
#texto_derecha{
    display: grid;
    grid-column: 8/9;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: black;
}
a:link, a:visited{
    text-decoration: none;
}